@font-face {
  font-family: 'stalin';
  src: url(fonts/StalinistOne-Regular.ttf);
}

@font-face {
  font-family: 'neuland';
  src: url(fonts/Neuland-Inline.ttf);
}

@font-face {
  font-family: 'comic';
  src: url(fonts/comicz.ttf);
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-family: 'neuland';
  font-size: 100%;
  background: url(images/pickle.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#page-wrapper {
  width: 700px;
  background: rgb(189, 255, 205);
  padding: 1em;
  margin: 1em auto;
  border: 5px solid #2b8334;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

h1 {
  margin-top: 0;
  font-family: 'stalin';
  text-align: center;
}

#status {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

.open {
  color: green;
}

.closed {
  color: red;
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
  font-family: 'comic';
  text-align: left;
}

ul li {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid rgb(0, 0, 0);
}

ul li:first-child {
}

ul li span {
  display: inline-block;
  width: 90px;
  font-weight: bold;
  color: #999;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sent {
  background-color: #F7F7F7;
}

.received {}

#message-form {
  margin-top: 1.5rem;
}

textarea {
  font-family: 'comic';
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  min-height: 100px;
  margin-bottom: 1rem;
}

button {
  font-family: 'neuland';
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.6rem 1em;
  color: white;
  margin: 0 0.25rem;
  text-align: center;
  background: #BABABA;
  border-bottom: 1px solid #999;
}

button[type="submit"] {
  background: #86b32d;
  border-bottom: 1px solid #5d7d1f;
}

button:hover {
  opacity: 0.75;
  cursor: pointer;
}

#box {
  font-family: 'comic';
  text-align: center;
  width: 800px;
  background: rgb(78, 175, 103);
  padding: 1em;
  margin: 1em auto;
  border: 5px solid #2b8334;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

.inline-block {
  display: inline-block;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
}